.progress-wrap {
  margin-top:50px;
  padding:0px;
  width:100%;
  height:100px;
  li{
    margin-top:30px;
    list-style:none;
    float:left;
    width:150px;
    height:30px;
    margin-left: 6px;
    position:relative;
  }
  .progress-line{
    background-color:#b9b9b9;
    position:absolute;
    height: 1px;
    width:100%;
    top: 16px;
    margin-left:2px;
    transition:background-color 2s linear;
    -moz-transition:background-color 2s linear;
    -webkit-transition:background-color 2s linear;
    -o-transition:background-color 2s linear;
  }
  .progress-content{
    position:absolute;
    text-align:center;
    .progress-number{
      display:inline-block;
      *zoom:1;
      position:absolute;
      width: 32px;
      height: 32px;
      line-height:30px;
      color:#fff;
      border-radius:50%;
      //font-family:tahoma;
      font-weight:bold;
      font-size:16px;
      background-color:#b9b9b9;
      cursor:pointer;
    }
    .progress-text{
      display: block;
      position:absolute;
      min-width: 30px;
      font-size:12px;
      padding: 0 5px;
      top: 8px;
      left: 32px;
      color:rgba(51,51,51,1);
      background-color: #ffffff;
    }
    .contain_width_S{
      width: 30px;
    }
    .contain_width_M{
      width: 50px;
    }
    .contain_width_L{
      width: 74px;
    }
  }
  .progress-one .progress-content{
    .progress-number{
      background: url("images/1_chosen.png");
    }
  }
  .progress-two .progress-content{
    .progress-number{
      background-color: #ffffff;
      background-image: url("images/2.png");
    }
  }
  .progress-three .progress-content{
    .progress-number{
      background-color: #ffffff;
      background-image: url("images/3.png");
    }
  }
  .progress-four .progress-content{
    .progress-number{
      background-color: #ffffff;
      background-image: url("images/4.png");
    }
  }
  .progress-two.progressing .progress-content .progress-number{
    background-image: url("images/2_chosen.png");
  }
  .progress-three.progressing .progress-content .progress-number{
    background-image: url("images/3_chosen.png");
  }
  .progress-four.progressing .progress-content .progress-number{
    background-image: url("images/4_chosen.png");
  }
  .progressing{
    .progress-line{
      background-color: rgb(185, 185, 185);
    }
    .progress-content{
      .progress-number{
        background-color: RGBA(24, 144, 255, 1);
      }
      .progress-text{
        color: RGBA(24, 144, 255, 1);
      }
    }

  }
  .progressed{
    .progress-line{
      background-color: RGBA(24, 144, 255, 1);
    }
    .progress-content{
      .progress-number{
        //background-color: rgb(133, 224, 133);
        background-color: #ffffff;
        background-image: url("images/tick.png");
        background-repeat:  no-repeat;
      }
      .progress-text{
        color: RGBA(24, 144, 255, 1);

      }
    }
  }
}
.step_content{
  .step{
    display: none;
  }
  .step_active{
    display: block;
  }
}


