.progress-wrap {
  margin-top:50px;
  padding:0px;
  width:100%;
  height:100px;
  li{
    margin-top:30px;
    list-style:none;
    float:left;
    width:150px;
    height:30px;
    margin-left: 6px;
    position:relative;
  }
  .progress-line{
    background-color:#b9b9b9;
    position:absolute;
    height: 1px;
    width:100%;
    top: 16px;
    margin-left:2px;
    transition:background-color 2s linear;
    -moz-transition:background-color 2s linear;
    -webkit-transition:background-color 2s linear;
    -o-transition:background-color 2s linear;
  }
  .progress-content{
    position:absolute;
    text-align:center;
    .progress-number{
      display:inline-block;
      *zoom:1;
      position:absolute;
      width:30px;
      height:30px;
      line-height:30px;
      color:#fff;
      border-radius:50%;
      border:2px solid rgba(224,224,224,1);
      font-family:tahoma;
      font-weight:bold;
      font-size:16px;
      background-color:#b9b9b9;
      box-shadow:1px 1px 2px rgba(0,0,0,.2) inset;
      cursor:pointer;
    }
    .progress-text{
      display: block;
      position:absolute;
      min-width: 30px;
      font-size:12px;
      padding: 0 5px;
      top: 8px;
      left: 33px;
      color:rgba(51,51,51,1);
      background-color: #ffffff;
    }
    .contain_width_S{
      width: 30px;
    }
    .contain_width_M{
      width: 50px;
    }
    .contain_width_L{
      width: 74px;
    }
  }
  .progressing{
    .progress-line{
      background-color: rgb(185, 185, 185);
    }
    .progress-content{
      .progress-number{
        background-color: rgb(51, 204, 51);
      }
      .progress-text{
        color: rgb(51, 204, 51);
      }
    }

  }
  .progressed{
    .progress-line{
      background-color: rgb(51, 204, 51);
    }
    .progress-content{
      .progress-number{
        background-color: rgb(133, 224, 133);
      }
      .progress-text{
        color: rgb(133, 224, 133);
      }
    }
  }
}
.step_content{
  .step{
    display: none;
  }
  .step_active{
    display: block;
  }
}

